*.egg-info
*.pyc
.eggs
__pycache__
build
dist
.cache
.coverage
.coverage.*
htmlcov
.pytest_cache
.mypy_cache
.tox
extras
include
lib
pip-selfcheck.json
.idea
.vscode
venv/*
.venv
env/
.python-version
.DS_Store
